<h1>Listing material_price_points</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_price_points.each do |material_price_point| %>
      <tr>
        <td><%= link_to 'Show', material_price_point %></td>
        <td><%= link_to 'Edit', edit_material_price_point_path(material_price_point) %></td>
        <td><%= link_to 'Destroy', material_price_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material price point', new_material_price_point_path %>
